@use './colors.scss' as c;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100;200&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: c.$background-color;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto;
    grid-template-areas: 
    "cabecera"
    "principal"
    "pie";
}
header{
    grid-area: cabecera;
    color: c.$color-text-primary;
    position: sticky;
    top: 0;
    background-color: c.$background-color;;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "logo buttons";
    .header-logo{
        grid-area: logo;
        display: flex;
        align-items: center;
        gap: 12px;

    }
    .header-buttons{
        grid-area: buttons;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 20px
    }
    .header-buttons > div{
        width: 70px;
        padding: 6px; 
        text-align: center;

    }

    .header-buttons > div:hover{
        background-color: c.$bg-button;
        color:c.$color-text-btn;
        border-radius: 3px;

    }



}
@mixin gridDinamic($width){
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
        grid-template-rows:  auto;
        img{
            width: 100%
        }

}
main{   
        grid-area: principal;
        color:c.$color-text-primary;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
         .section-title{
            margin-bottom: 4px;

        }
        .top{
            @include gridDinamic(225px);
            gap: 5px;
            direction: rtl;

            }
            
        .first{

            @include gridDinamic(250px);

        }
        .second{
            @include gridDinamic(250px);
        }


    
        

}
footer{
    grid-area: pie;
}
@media screen and (min-width: 1280px) {


}