@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100;200&family=Space+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#141414;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cabecera"
    "principal"
    "pie";
}
header{
    grid-area: cabecera;
    display: grid;
    color:white;
    grid-template-columns: repeat(2, 1f);
    grid-template-areas: 
    "logo buttons";
    .header-logo{
        grid-area: logo;
    }
    .header-buttons{
        grid-area: buttons;
    }


}
@mixin gridDinamic($width){
        display: grid;
        grid-template-columns:  repeat(auto-fill, minmax($width, 1fr));
        grid-template-rows:  auto; 

}
main{   
        grid-area: principal;
        color:white;
        .top{
            @include gridDinamic(225px);
            gap: 5px
        }
        .first{
            @include gridDinamic(250px);
        }
        .second{
            @include gridDinamic(250px);
        }


    
        

}
footer{
    grid-area: pie;
}
